body {
    background-color: rgba(39, 46, 46, 0.904);
}

#band-name {
    color: rgb(223, 218, 218);
    font-size: 46px;
    text-align: center;
    font-family: lato;
}

#band-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 15px;
    border: 1px #333;
}

nav {
    text-align: center;
    font-family: lato;
    font-size: 18px;
    color: rgb(223, 218, 218)
}

#nav-list {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 30%;
  border-radius: 15px;
  border: 1px solid #333; 
}

#nav-bar {
  float: left;
}

#band-members {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 30%;
}

#nav-bar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}

#nav-bar a:hover {
    background-color: rgb(139, 137, 137)
}

#about-band {
    color: rgb(223, 218, 218);
    font-family: merriweather;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#band-members {
    color: rgb(223, 218, 218);
    font-family: merriweather;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: left;
    border-radius: 15px;
    border: 1px #333;
}

#band-list {
    float: left;
}

#band-list-img {
    float: right;
}

footer {
    text-align: center;
    font-size: 28px;
    color:  rgb(223, 218, 218);
}